html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.scrollable-content {
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #dbd9e2;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #76708d;
  border-radius: 4px;
}
