name: Tauri Release (Windows)

on:
  release:
    types: [published]

  workflow_dispatch:

permissions:
  contents: write

jobs:
  tauri-build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "24"  
          cache: "npm"

      - name: Cache npm
        uses: actions/cache@v4
        id: node_cache_dependency
        env:
          cache-name: node_cache_dependency
        with:
          path: node_modules
          key: node-modules${{ hashFiles('**/package-lock.json') }}
          
          
      - name: Install dependencies
        if: ${{ steps.node_cache_dependency.outputs.cache-hit != 'true' }}
        run: npm ci



      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      
      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        

      - name: Build Tauri app
        run: npm run tauri build

      # 手動実行のときは Artifact に置く
      - name: Upload build as artifact
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: tauri-build-windows
          path: src-tauri/target/release/bundle/**/*

      # Release publish のときは Release に
      - name: Upload assets to GitHub Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.release.tag_name }}
          files: |
            src-tauri/target/release/bundle/**/*
